/*  
---------------------------------------------------
Lightbox
---------------------------------------------------  
*/

/*
#site { 
    transition: filter 0.3s ease-in-out 0s;
}

body.modal-open #site { 
    filter: blur(2px);
}
*/

body.modal-open { overflow: hidden!important; }

.modal-backdrop.show { 
    opacity: var(--modal-opacity);
}

/*  
    Could potentially add back in. 
    Issue is on Windows a space is added to accomodate scrollbar.
    If modal doesn't require a scrollbar then a blank space is present.
*/
/*
html.windows body.modal-open,
html.windows body.modal-open .modal {
    padding-right: 0 !important;
}

*/

.ekko-lightbox.modal {
    z-index:1062;
}
.ekko-lightbox.modal + .modal-backdrop.show { 
    z-index:1061;
}

.modal .modal-dialog {
    margin:0 auto; padding: 50px 0;
    max-width: 100%; width:100%;
}

.modal.modal-components .modal-dialog {
    max-width: var(--modal-components-max-width);
}

.modal.modal-pods .modal-dialog {
    max-width: var(--modal-pods-max-width);
}

.modal-content {
    box-shadow: var(--base-box-shadow_h) var(--base-box-shadow_v) var(--base-box-shadow_b) rgba(var(--true-black), var(--base-box-shadow_o));
    border-radius: calc(var(--base-border-radius) + 2px);
}

.ekko-lightbox .modal-content { 
    border-radius: 0;
    color: rgba(var(--true-white), 1);
    background: none;
}

.ekko-lightbox .modal-content .modal-header,
.ekko-lightbox .modal-content .modal-footer { 
    color: rgba(var(--true-white), 1);
    background: none;
    padding: var(--base-half-spacing) 0;
    justify-content: flex-start;
}

.ekko-lightbox .modal-content .modal-header .modal-title { 
    color: rgba(var(--true-white), 1);
}

.ekko-lightbox .modal-header .close { 
    display:none!important;
}

.ekko-lightbox .modal-content .modal-body { 
    padding: 0; margin-top: -1px; margin-left: -1px; margin-bottom:-1px;
    background-color: rgba(var(--true-black), 1);
}

.ekko-lightbox-nav-overlay { 
    position: fixed; 
    top: 50%; z-index: 501;
    height: calc(100% - 60px - 60px);
    transform: translateY(-50%);
}

.ekko-lightbox-nav-overlay a span { 
    display:none;
}

.ekko-lightbox-nav-overlay a { 
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity:0.5;
}

.ekko-lightbox-nav-overlay a::before { 
    position: absolute;
    top:50%; 
    width:40px; height:40px;
    text-align:center;
    font-size:20px; line-height: 40px;
    color: rgba(var(--base-link), 1);
    background-color: rgba(var(--base-bg-color1), 1);
    transform: translateY(-50%);
}
.ekko-lightbox-nav-overlay a::before:hover {
    color: rgba(var(--base-link-hover), 1);
}

.ekko-lightbox-nav-overlay a:nth-child(1)::before { 
    left:0;
    border-radius: 0 var(--base-border-radius) var(--base-border-radius) 0;
}

.ekko-lightbox-nav-overlay a:nth-child(2)::before { 
    right:0;
    border-radius: var(--base-border-radius) 0 0 var(--base-border-radius);
}

/* Close icon */
.modal::before { 
    content: "\f2c0";
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    position: fixed; top:0; z-index:1001;
    font-size:35px; line-height: 50px; text-align: center;
    width:50px; height:50px;
    cursor:pointer;
    transition: all 0.2s ease-in-out 0s;
}

.modal .close {
    position: fixed; top:0; z-index:1002;
    width:50px; height:50px;
    background: none; border: 0 none;
}

html[dir="ltr"] .modal::before,
html[dir="ltr"] .modal .close { 
    right:0;
    border-radius: 0 0 0 var(--base-border-radius);
}

html[dir="rtl"] .modal::before,
html[dir="rtl"] .modal .close { 
    left:0;
    border-radius: 0 0 var(--base-border-radius) 0;
}

.modal .close:focus-visible {
    outline-offset: -6px!important;
}

@media (min-width:0) and (max-width:1349px) {
    .modal::before {
        color: rgba(var(--base-link), 1);
        background-color: rgba(var(--base-bg-color1), 1);
        box-shadow: 0 0 var(--base-half-spacing) rgba(var(--true-black), 0.15);
    }
}

@media (min-width:1350px) {   
    .modal .modal-dialog {
        padding: 50px;
    }
    .modal::before {
        color: rgba(var(--true-white), 1);
    }
}