<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9df0c046-b3af-4d19-9ced-2e4b2d04e5d6" Alias="USN_CMP_SEO" Level="3">
  <Info>
    <Name>Page SEO &amp; Share</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Web+Pages+(Tabs)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>347a2324-55b3-48b9-a030-bdd2f8537798</Key>
      <Name>Hide from search engines</Name>
      <Alias>hideFromSearchEngines</Alias>
      <Definition>35dd9d60-6655-481f-b47e-54bd3e0f2d49</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will add a 'noindex' meta tag to your page which stops it being indexed by search engines. This will also exclude this page from your sitemap.xml]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea38d34b-4e3d-4e99-b6d8-797b18178b57</Key>
      <Name>Social share image</Name>
      <Alias>openGraphImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image used when someone shares the page on social media, such as, Twitter or Facebook.

We suggest that you use an image of at least 1200x630 pixels.

If nothing is uploaded here the 'Default open graph image' from 'Global > Settings' will be used.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>116111be-8775-49ce-9666-776325ca44a5</Key>
      <Name>Override Canonical URL</Name>
      <Alias>overrideCanonicalURL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Override the default canonical URL that is added to this page. Enter the full URL including scheme i.e
https://www.website.com]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>776742fb-4dc2-485f-9250-f806a8f58d73</Key>
      <Name>Sitemap XML change frequency</Name>
      <Alias>sitemapXMLChangeFrequency</Alias>
      <Definition>ea994a73-e25b-467b-a62a-4b2616d29e6b</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85212b98-6195-45b5-8fba-638a191e5983</Key>
      <Name>Sitemap XML priority</Name>
      <Alias>sitemapXMLPriority</Alias>
      <Definition>d9cfcf8f-fba0-4999-b84c-41960c35bdb0</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb9d81dc-6caf-435a-87fb-d187dbea7b5d</Key>
      <Name>Stop internal links being followed</Name>
      <Alias>stopInternalLinksBeingFollowed</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will add a 'nofollow' meta tag to your page which prevents search engine spiders from following links on this page.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cef1894e-4f6b-4b46-bcf3-49257cb32f96</Key>
      <Name>Title and description</Name>
      <Alias>titleAndDescription</Alias>
      <Definition>a5624b4f-e27c-449b-aaaf-22ce575cc820</Definition>
      <Type>USN.SeoMeta</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a preview of how your page may appear in search engines.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04240900-1373-4d15-a97b-f7dae2a6f04a</Key>
      <Name>Twitter creator username</Name>
      <Alias>twitterCreatorUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Username for the content creator/author used in the twitter card.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3c215937-bb3c-4965-8a16-18df711c048c</Key>
      <Name>Alternative URL</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this field to provide multiple URLs for your page.

For example if you were to enter 'examplepage1,examplepage2/this-is-a-test', this would resolve the following URLs to the same page.

/examplepage1/
/examplepage2/this-is-a-test/

Please note that the values you use must be lowercase, not use a leading slash and not use a file extension.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b1e3802-5715-4331-84d9-c619e1a713bb</Key>
      <Name>Alternative name</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this field to set an alternative name for your page. This will override the default node name that is used as the URL of this page.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="sEOShare">SEO &amp; Share</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a40e6669-d6c0-4ab5-a8e3-2267a25388d4</Key>
      <Caption>SEO &amp; Share</Caption>
      <Alias>sEOShare</Alias>
      <Type>Tab</Type>
      <SortOrder>995</SortOrder>
    </Tab>
  </Tabs>
</ContentType>