<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e611d8aa-2c70-400a-bf09-813e26e7d715" Alias="USNPage" Level="2">
  <Info>
    <Name>Page</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to create a new "Page".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
      <Composition Key="88b64d42-3722-4141-bfb1-0e70713a7378">USN_CMP_ExtraContent</Composition>
      <Composition Key="a4485f58-abfa-458f-8b22-370e56ef14f7">USN_CMP_MainContent</Composition>
      <Composition Key="a5abb791-6917-4b8e-bf1c-b29678e19975">USN_CMP_PageAdvancedSettings</Composition>
      <Composition Key="91e4acc9-f3f6-488c-802d-416f6e8a954e">USN_CMP_PageNavigation</Composition>
      <Composition Key="f450332f-3d0e-483c-94ed-6e1d118d6b46">USN_CMP_PageSummary</Composition>
      <Composition Key="c2df847e-5bc1-450a-8266-1fe04ad26700">USN_CMP_Scripts</Composition>
      <Composition Key="9df0c046-b3af-4d19-9ced-2e4b2d04e5d6">USN_CMP_SEO</Composition>
    </Compositions>
    <DefaultTemplate>USNPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3d9ac001-fa05-4b8a-aabc-0dcdc556d96e">USNPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e611d8aa-2c70-400a-bf09-813e26e7d715" SortOrder="0">USNPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>578dccd0-b6e2-41c8-8d48-345afcda1676</Key>
      <Name>Hide sub navigation</Name>
      <Alias>hideSubNavigation</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select 'Yes' to hide the sub navigation menu from this page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad27a76a-5b3f-4bc2-a32c-0fbefe24d25c</Key>
      <Name>HTML sitemap link text</Name>
      <Alias>htmlSitemapLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e939ca38-575a-444d-8e77-cf256dee7099</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">This  content is only displayed on a 'Listing' or 'Related Content' pod.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="summary">Summary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7680d9b6-c231-426a-847d-21347b80bbfe</Key>
      <Name>Sub navigation link text</Name>
      <Alias>subNavigationLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>062c9a17-cd22-4ab8-9804-90bad3673d20</Key>
      <Name>Override global node</Name>
      <Alias>websiteConfigurationNode</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the 'Global node' to be used for this page and all child pages. This will override the 'Global node' selected on the parent page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>98741537-827e-41ba-aea1-356853bad85b</Key>
      <Caption>Summary</Caption>
      <Alias>summary</Alias>
      <Type>Tab</Type>
      <SortOrder>993</SortOrder>
    </Tab>
    <Tab>
      <Key>42550cf2-e03e-4c21-919f-0be390463bc3</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>994</SortOrder>
    </Tab>
    <Tab>
      <Key>b70bf68d-5bad-4290-a378-db000cac9e01</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Tab</Type>
      <SortOrder>999</SortOrder>
    </Tab>
  </Tabs>
</ContentType>