<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cba6a525-46be-49f1-ad4b-6c93b156b99a" Alias="USNRobotsTXT" Level="2">
  <Info>
    <Name>Robots TXT</Name>
    <Icon>icon-document-dashed-line color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to add a new "Robots TXT" to your website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNRobotsTXT</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0675fcb8-2744-4c80-8dfe-2389d8d0c705">USNRobotsTXT</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>069ec80b-edfd-4140-b5cf-da24a0929daa</Key>
      <Name>Crawl instructions</Name>
      <Alias>crawlInstructions</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7af507f4-0f51-4862-b505-9ad102f953dd</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<p>This page controls your websites robots.txt file.</p><p>If hosting your website on IIS make sure you have the following rewrite rule included in web.config. Text in bold should match your page link.</p><pre class="code"><code>&lt;system.webServer&gt;
&nbsp;&nbsp;&lt;rewrite&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;rules&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;rule name="Robots TXT" stopProcessing="true"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;match url="robots.txt" /&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;action type="Rewrite" url="<strong>robots-txt</strong>" /&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/rule&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/rules&gt;
&nbsp;&nbsp;&lt;/rewrite&gt;
&lt;/system.webServer&gt;</code></pre><p><a href="https://www.iis.net/downloads/microsoft/url-rewrite" target="_blank" title="Link will open in a new window/tab">IIS URL Rewrite module</a> must be installed on your webserver to use this feature.</p>
<p>If you are hosting your website on a platform other than IIS please refer to guides on <a href="https://our.umbraco.com/documentation/Reference/routing/iisrewriterules/" target="_blank" title="Link will open in a new window/tab">URL Rewriting Middleware in ASP.NET Core.</a></p>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="robotsTXT">Robots TXT</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88b6d373-0edc-4db7-a837-4367f58d5254</Key>
      <Name>Sitemap XML location</Name>
      <Alias>sitemapXMLLocation</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will add sitemap xml instructions to your robots.txt file.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>37755190-c109-4172-ba5e-e5902d12777e</Key>
      <Caption>Robots TXT</Caption>
      <Alias>robotsTXT</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3c33a3f1-6770-4d41-a091-2e60d0a0f316</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>