<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86af9894-6d0e-4cf0-a200-55902062263f" Alias="USN Image Style" Level="3">
  <Info>
    <Name>USN Image Style</Name>
    <EditorAlias>USN.OptionsShowHide</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{
  "items": {
    "items": [
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "Original",
        "key": "imageOriginal",
        "tabs": "",
        "fields": "-boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "1:1 Square",
        "key": "image1by1Square",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "icon": "imageStyleCircle",
        "text": "1:1 Circle",
        "key": "image1by1Circle",
        "tabs": "",
        "fields": "+boxPad",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "2:1",
        "key": "image2by1",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "1:2",
        "key": "image1by2",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "3:1",
        "key": "image3by1",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "1:3",
        "key": "image1by3",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "3:2",
        "key": "image3by2",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "2:3",
        "key": "image2by3",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "4:1",
        "key": "image4by1",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "1:4",
        "key": "image1by4",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "4:3",
        "key": "image4by3",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "3:4",
        "key": "image3by4",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "16:9",
        "key": "image16by9",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "9:16",
        "key": "image9by16",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "16:10",
        "key": "image16by10",
        "tabs": "",
        "fields": "+boxPad"
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "10:16",
        "key": "image10by16",
        "tabs": "",
        "fields": "+boxPad"
      }
    ]
  }
}]]></Config>
</DataType>