/*  
---------------------------------------------------
Author: uSkinned
License: uSkinned Commercial License (https://uSkinned.net/license)
---------------------------------------------------  
*/

/*  
---------------------------------------------------
Contents

1. Font Imports
2. Global non-generated variables
3. Global generated variables
---------------------------------------------------  
*/

@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap');@import url('https://fonts.googleapis.com/css?family=Barlow Condensed:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap');@import url('https://fonts.googleapis.com/css?family=Permanent Marker:400&display=swap');

:root {

    /* Expand navigation width */
    --expand-nav-width: 60px;

    /* More header sizes */
    --small-header-half: calc(var(--small-header) / 2);
    --large-header-half: calc(var(--large-header) / 2);
    --large-header-quarter: calc(var(--large-header) / 4);

    /* Main navigation sizes */
    --nav-main-height: var(--large-header);

    /* Generic palette */
    --true-black:0,0,0;
    --true-white:255,255,255;
    --form-errors:193,108,107;
    --form-warning:240,173,78;
    --form-success:92,184,92;

    /* Item widths */
    --items-1:100%;
    --items-2:50%;
    --items-3:33.3333333%;
    --items-4:25%;
    --items-5:20%;
    --items-6:16.6666667%;
    --items-7:14.2857143%;
    --items-8:12.5%;

    /* Window heights */
    --windows_basic: 50vh;
    --windows_basic_PX: 375px;

    --windows-1_basic: 100vh;
    --windows-1_basic_PX: 62.5%;
    --windows-2_basic: 100vh;
    --windows-2_basic_PX: 75%;
    --windows-3_basic: 70vh;
    --windows-3_basic_PX: 100%;
    --windows-4_basic: 50vh;
    --windows-4_basic_PX: 75%;

    --windows-3_big-item: 100vh;
    --windows-3_big-item_PX: 750px;
    --windows-3_small-item: 50vh;
    --windows-3_small-item_PX: 375px;

    --windows-4_big-item: 55vh;
    --windows-4_big-item_PX: 475px;
    --windows-4_small-item: 45vh;
    --windows-4_small-item_PX: 375px;

    /* Banner heights */
    --takeover-banner: 100vh;
    --medium-banner: 65vh;
    --medium-bannerPX: 450px;
    --short-banner: 50vh;
    --short-bannerPX: 340px;

    /* Lazyframe buttons*/
    --youtube-bg: 229,45,39;
    --vimeo-bg: 0,173,239;

    /* Component max-width */
    --component-max-width: 1350px;

    /* Modal max-width */
    --modal-opacity: 0.75;
    --modal-components-max-width: 1800px;
    --modal-pods-max-width: 645px;
    

    /* 
    All configurable variables below 
    */

    /* Spacing tab */

    --site-max-width: 1600px;

    --site-spacing_sm: 0px;
    --site-spacing_lg: 0px;

    --notification-spacing_below_sm: 15px;
    --notification-spacing_side_sm: 15px;
    --notification-spacing_below_lg: 15px;
    --notification-spacing_side_lg: 15px;
    
    --backtotop-size_sm: 45px;
    --backtotop-size_lg: 60px;
    
    --backtotop-spacing_side_sm: 15px;
    --backtotop-spacing_below_sm: 15px;
    --backtotop-spacing_side_lg: 15px;
    --backtotop-spacing_below_lg: 15px;

    --site-box-shadow_h: 0px;
    --site-box-shadow_v: 0px;
    --site-box-shadow_b: 100px;
    --site-box-shadow_o: 0.1;

    --small-breakpoint: 991px;
    --large-breakpoint: 992px;

    --header-max-width: 1350px;
    --small-header: 100px;
    --large-header: 100px;

    --header-box-shadow_h: 0px;
    --header-box-shadow_v: 4px;
    --header-box-shadow_b: 0px;
    --header-box-shadow_o: 0.1;

    --nav-main-dropdown-width: 240px;
    --nav-main-dropdown-width_wide: 480px;

    --logo_sm-padding_top: 15px;
    --logo_sm-padding_right: 15px;
    --logo_sm-padding_bottom: 15px;
    --logo_sm-padding_left: 15px;

    --logo_lg-padding_top: 20px;
    --logo_lg-padding_right: 15px;
    --logo_lg-padding_bottom: 20px;
    --logo_lg-padding_left: 15px;

    --base-spacing: 30px;
    --base-half-spacing: 15px;
    --base-border-width: 2px;
    --base-border-radius: 0px;

    --base-box-shadow_h: 4px;
    --base-box-shadow_v: 4px;
    --base-box-shadow_b: 0px;
    --base-box-shadow_o: 1;

    --content-col_pc-spacing: 15px;
    --pc-spacing: 30px;
    --pc-spacing_sm: 30px;
    --pc-spacing_md: 40px;
    --pc-spacing_lg: 50px;
    --pc-spacing_xl: 60px;

    --intro-col: 100%;
    --intro-col_sm: 100%;
    --intro-col_md: 100%;
    --intro-col_lg: 83.3333333%;
    --intro-col_xl: 66.6666667%;

    --outro-col: 100%;
    --outro-col_sm: 100%;
    --outro-col_md: 100%;
    --outro-col_lg: 83.3333333%;
    --outro-col_xl: 66.6666667%;

    --center-col: 100%;
    --center-col_sm: 100%;
    --center-col_md: 100%;
    --center-col_lg: 83.3333333%;
    --center-col_xl: 66.6666667%;

    --banner-col: 100%;
    --banner-col_sm: 100%;
    --banner-col_md: 100%;
    --banner-col_lg: 83.3333333%;
    --banner-col_xl: 66.6666667%;

    --form-field-border-width: 2px;
    --form-field-border-radius: 0px;

    --btn-border-width: 2px;
    --btn-border-radius: 0px;

    --btn-box-shadow_h: 4px;
    --btn-box-shadow_v: 4px;
    --btn-box-shadow_b: 0px;
    --btn-box-shadow_o: 1;

    --btn_sm-padding_top: 7px;
    --btn_sm-padding_right: 9px;
    --btn_sm-padding_bottom: 7px;
    --btn_sm-padding_left: 9px;

    --btn-padding_top: 10px;
    --btn-padding_right: 14px;
    --btn-padding_bottom: 10px;
    --btn-padding_left: 14px;

    --btn_lg-padding_top:  12px;
    --btn_lg-padding_right:  16px;
    --btn_lg-padding_bottom:  12px;
    --btn_lg-padding_left:  16px;

    /* Colors tab */
    
    /* Body */
    --body-bg-color1: 14, 28, 53;
    --body-bg-color2:  14, 28, 53;
    --body-bg-start-perc: 50%;
    --body-bg-stop-perc: 50%;
    --body-bg-angle: 90deg;
    
    /* Header */
    --header-bg-color1: 14, 28, 53;
    --header-bg-color2:  14, 28, 53;
    --header-bg-start-perc: 50%;
    --header-bg-stop-perc: 50%;
    --header-bg-angle: 90deg;
    --header-text: 224, 229, 232;
    --header-borders: 14, 28, 53;
    --header-highlight: 165, 217, 91;
    
    /* Main Navigation */
    --main-navigation-link: 255, 255, 255;
    --main-navigation-link-hover: 69, 168, 214;
    --main-navigation-link-active: 165, 217, 91;

    /* Logo */
    --logo-link: 255, 255, 255;
    --logo-link-hover: 69, 168, 214;
    
    /* Secondary Navigation */
    --secondary-navigation-link: 255, 255, 255;
    --secondary-navigation-link-hover: 224, 229, 232;
    
    /* Navigation dropdown */
    --navigation-dropdown-color1: 255, 255, 255;
    --navigation-dropdown-color2:  0, 0, 0;
    --navigation-dropdown-start-perc: 50%;
    --navigation-dropdown-stop-perc: 50%;
    --navigation-dropdown-angle: 90deg;
    --navigation-dropdown-link: 14, 28, 53;
    --navigation-dropdown-link-hover: 69, 168, 214;
    --navigation-dropdown-link-active: 165, 217, 91;
    
    /* Content */
    --base-bg-color1: 255, 255, 255;
    --base-bg-color2:  0, 0, 0;
    --base-bg-start-perc: 50%;
    --base-bg-stop-perc: 50%;
    --base-bg-angle: 90deg;
    --base-heading: 14, 28, 53;
    --base-secondary-heading: 14, 28, 53;
    --base-text: 78, 86, 101;
    --base-link: 69, 168, 214;
    --base-link-hover: 62, 151, 193;
    --base-borders: 0, 0, 0;
    --base-highlight: 165, 217, 91;
    --base-highlight-text: 255, 255, 255;
    
    /* Button */
    --base-btn-bg-color1: 14, 28, 53;
    --base-btn-bg-color2:  0, 0, 0;
    --base-btn-bg-start-perc: 50%;
    --base-btn-bg-stop-perc: 50%;
    --base-btn-bg-angle: 90deg;
    --base-btn-text: 255, 255, 255;
    --base-btn-borders: 165, 217, 91;
    --base-btn-bg-hover-color1: 165, 217, 91;
    --base-btn-bg-hover-color2:  165, 217, 91;
    --base-btn-bg-hover-start-perc: 50%;
    --base-btn-bg-hover-stop-perc: 50%;
    --base-btn-bg-hover-angle: 90deg;
    --base-btn-text-hover: 14, 28, 53;
    --base-btn-borders-hover: 165, 217, 91;
    
    /* Footer */
    --footer-bg-color1: 14, 28, 53;
    --footer-bg-color2:  26, 41, 69;
    --footer-bg-start-perc: 50%;
    --footer-bg-stop-perc: 50%;
    --footer-bg-angle: 135deg;
    --footer-heading: 255, 255, 255;
    --footer-secondary-heading: 165, 217, 91;
    --footer-text: 224, 229, 232;
    --footer-link: 255, 255, 255;
    --footer-link-hover: 62, 151, 193;
    --footer-borders: 92, 105, 128;
    --footer-highlight: 165, 217, 91;

    --c1-bg-color1: 14, 28, 53;
--c1-bg-color2:  26, 41, 69;
--c1-bg-start-perc: 50%;
--c1-bg-stop-perc: 50%;
--c1-bg-angle: 135deg;
--c1-heading: 255, 255, 255;
--c1-secondary-heading: 165, 217, 91;
--c1-text: 224, 229, 232;
--c1-link: 69, 168, 214;
--c1-link-hover: 62, 151, 193;
--c1-borders: 92, 105, 128;
--c1-highlight: 165, 217, 91;
--c1-highlight-text: 255, 255, 255;


    

    /* Fonts tab */
    
    --body-typography_font-name: 'Barlow',sans-serif;
    --body-typography_font-weight: 400;
    --body-typography_font-style: normal;
    --body-typography_font-line-height: 150%;
    --body-typography_font-letter-spacing: -0.45px;
    --body-typography_font-transform: None;

    --body-typography_font-size: 18px; 
    --body-typography_font-size_sm: 18px; 
    --body-typography_font-size_md: 18px; 
    --body-typography_font-size_lg: 18px; 
    --body-typography_font-size_xl: 18px; 

    --h1-typography_font-name: 'Permanent Marker',handwriting;
    --h1-typography_font-weight: 400;
    --h1-typography_font-style: normal;
    --h1-typography_font-line-height: 100%;
    --h1-typography_font-letter-spacing: 0px;
    --h1-typography_font-transform: None;

    --h1-typography_font-size: 35px; 
    --h1-typography_font-size_sm: 45px; 
    --h1-typography_font-size_md: 50px; 
    --h1-typography_font-size_lg: 60px; 
    --h1-typography_font-size_xl: 70px; 

    --h2-typography_font-name: 'Barlow',sans-serif;
    --h2-typography_font-weight: 800;
    --h2-typography_font-style: normal;
    --h2-typography_font-line-height: 110%;
    --h2-typography_font-letter-spacing: -0.5px;
    --h2-typography_font-transform: None;

    --h2-typography_font-size: 40px; 
    --h2-typography_font-size_sm: 40px; 
    --h2-typography_font-size_md: 50px; 
    --h2-typography_font-size_lg: 55px; 
    --h2-typography_font-size_xl: 60px; 

    --h3-typography_font-name: 'Barlow',sans-serif;
    --h3-typography_font-weight: 800;
    --h3-typography_font-style: normal;
    --h3-typography_font-line-height: 110%;
    --h3-typography_font-letter-spacing: -0.5px;
    --h3-typography_font-transform: None;

    --h3-typography_font-size: 35px; 
    --h3-typography_font-size_sm: 35px; 
    --h3-typography_font-size_md: 40px; 
    --h3-typography_font-size_lg: 45px; 
    --h3-typography_font-size_xl: 50px; 

    --h4-typography_font-name: 'Barlow',sans-serif;
    --h4-typography_font-weight: 800;
    --h4-typography_font-style: normal;
    --h4-typography_font-line-height: 110%;
    --h4-typography_font-letter-spacing: -0.5px;
    --h4-typography_font-transform: None;

    --h4-typography_font-size: 30px; 
    --h4-typography_font-size_sm: 30px; 
    --h4-typography_font-size_md: 35px; 
    --h4-typography_font-size_lg: 40px; 
    --h4-typography_font-size_xl: 45px; 

    --h5-typography_font-name: 'Barlow',sans-serif;
    --h5-typography_font-weight: 700;
    --h5-typography_font-style: normal;
    --h5-typography_font-line-height: 110%;
    --h5-typography_font-letter-spacing: -0.5px;
    --h5-typography_font-transform: None;

    --h5-typography_font-size: 28px; 
    --h5-typography_font-size_sm: 28px; 
    --h5-typography_font-size_md: 30px; 
    --h5-typography_font-size_lg: 32px; 
    --h5-typography_font-size_xl: 35px; 

    --h6-typography_font-name: 'Barlow',sans-serif;
    --h6-typography_font-weight: 700;
    --h6-typography_font-style: normal;
    --h6-typography_font-line-height: 110%;
    --h6-typography_font-letter-spacing: -0.5px;
    --h6-typography_font-transform: None;

    --h6-typography_font-size: 26px; 
    --h6-typography_font-size_sm: 26px; 
    --h6-typography_font-size_md: 28px; 
    --h6-typography_font-size_lg: 28px; 
    --h6-typography_font-size_xl: 30px; 

    --p-heading-typography_font-name: 'Barlow',sans-serif;
    --p-heading-typography_font-weight: 700;
    --p-heading-typography_font-style: normal;
    --p-heading-typography_font-line-height: 110%;
    --p-heading-typography_font-letter-spacing: -0.5px;
    --p-heading-typography_font-transform: None;

    --p-heading-typography_font-size: 22px; 
    --p-heading-typography_font-size_sm: 22px; 
    --p-heading-typography_font-size_md: 22px; 
    --p-heading-typography_font-size_lg: 26px; 
    --p-heading-typography_font-size_xl: 26px; 

    --p-heading_small-typography_font-name: 'Barlow',sans-serif;
    --p-heading_small-typography_font-weight: 700;
    --p-heading_small-typography_font-style: normal;
    --p-heading_small-typography_font-line-height: 110%;
    --p-heading_small-typography_font-letter-spacing: -0.5px;
    --p-heading_small-typography_font-transform: None;

    --p-heading_small-typography_font-size: 20px; 
    --p-heading_small-typography_font-size_sm: 20px; 
    --p-heading_small-typography_font-size_md: 20px; 
    --p-heading_small-typography_font-size_lg: 20px; 
    --p-heading_small-typography_font-size_xl: 20px; 

    --p-heading_large-typography_font-name: 'Barlow',sans-serif;
    --p-heading_large-typography_font-weight: 800;
    --p-heading_large-typography_font-style: normal;
    --p-heading_large-typography_font-line-height: 110%;
    --p-heading_large-typography_font-letter-spacing: -0.5px;
    --p-heading_large-typography_font-transform: None;

    --p-heading_large-typography_font-size: 26px; 
    --p-heading_large-typography_font-size_sm: 26px; 
    --p-heading_large-typography_font-size_md: 28px; 
    --p-heading_large-typography_font-size_lg: 28px; 
    --p-heading_large-typography_font-size_xl: 30px; 

    --p-intro-typography_font-name: 'Barlow',sans-serif;
    --p-intro-typography_font-weight: 400;
    --p-intro-typography_font-style: normal;
    --p-intro-typography_font-line-height: 160%;
    --p-intro-typography_font-letter-spacing: -0.25px;
    --p-intro-typography_font-transform: None;

    --p-intro-typography_font-size: 24px; 
    --p-intro-typography_font-size_sm: 24px; 
    --p-intro-typography_font-size_md: 24px; 
    --p-intro-typography_font-size_lg: 26px; 
    --p-intro-typography_font-size_xl: 26px; 

    --p-intro_small-typography_font-name: 'Barlow',sans-serif;
    --p-intro_small-typography_font-weight: 400;
    --p-intro_small-typography_font-style: normal;
    --p-intro_small-typography_font-line-height: 160%;
    --p-intro_small-typography_font-letter-spacing: -0.25px;
    --p-intro_small-typography_font-transform: None;

    --p-intro_small-typography_font-size: 20px; 
    --p-intro_small-typography_font-size_sm: 20px; 
    --p-intro_small-typography_font-size_md: 20px; 
    --p-intro_small-typography_font-size_lg: 22px; 
    --p-intro_small-typography_font-size_xl: 22px;  

    --p-intro_large-typography_font-name: 'Barlow',sans-serif;
    --p-intro_large-typography_font-weight: 400;
    --p-intro_large-typography_font-style: normal;
    --p-intro_large-typography_font-line-height: 160%;
    --p-intro_large-typography_font-letter-spacing: -0.25px;
    --p-intro_large-typography_font-transform: None;

    --p-intro_large-typography_font-size: 26px; 
    --p-intro_large-typography_font-size_sm: 26px; 
    --p-intro_large-typography_font-size_md: 26px; 
    --p-intro_large-typography_font-size_lg: 28px; 
    --p-intro_large-typography_font-size_xl: 28px;  

    --secondary-heading-typography_font-name: 'Barlow Condensed',sans-serif;
    --secondary-heading-typography_font-weight: 300;
    --secondary-heading-typography_font-style: normal;
    --secondary-heading-typography_font-line-height: 140%;
    --secondary-heading-typography_font-letter-spacing: -0.25px;
    --secondary-heading-typography_font-transform: None;

    --secondary-heading-typography_font-size: 22px; 
    --secondary-heading-typography_font-size_sm: 22px; 
    --secondary-heading-typography_font-size_md: 22px; 
    --secondary-heading-typography_font-size_lg: 26px; 
    --secondary-heading-typography_font-size_xl: 26px;  

    --secondary-heading_small-typography_font-name: 'Barlow Condensed',sans-serif;
    --secondary-heading_small-typography_font-weight: 300;
    --secondary-heading_small-typography_font-style: normal;
    --secondary-heading_small-typography_font-line-height: 140%;
    --secondary-heading_small-typography_font-letter-spacing: -0.25px;
    --secondary-heading_small-typography_font-transform: None;

    --secondary-heading_small-typography_font-size: 20px; 
    --secondary-heading_small-typography_font-size_sm: 20px; 
    --secondary-heading_small-typography_font-size_md: 20px; 
    --secondary-heading_small-typography_font-size_lg: 22px; 
    --secondary-heading_small-typography_font-size_xl: 22px;  

    --secondary-heading_large-typography_font-name: 'Barlow Condensed',sans-serif;
    --secondary-heading_large-typography_font-weight: 300;
    --secondary-heading_large-typography_font-style: normal;
    --secondary-heading_large-typography_font-line-height: 140%;
    --secondary-heading_large-typography_font-letter-spacing: -0.25px;
    --secondary-heading_large-typography_font-transform: Uppercase;

    --secondary-heading_large-typography_font-size: 26px; 
    --secondary-heading_large-typography_font-size_sm: 26px; 
    --secondary-heading_large-typography_font-size_md: 26px; 
    --secondary-heading_large-typography_font-size_lg: 30px; 
    --secondary-heading_large-typography_font-size_xl: 30px;  

    --blockquote-typography_font-name: 'Barlow',sans-serif;
    --blockquote-typography_font-weight: 700;
    --blockquote-typography_font-style: italic;
    --blockquote-typography_font-line-height: 150%;
    --blockquote-typography_font-letter-spacing: -0.15px;
    --blockquote-typography_font-transform: None;

    --blockquote-typography_font-size: 24px; 
    --blockquote-typography_font-size_sm: 24px; 
    --blockquote-typography_font-size_md: 24px; 
    --blockquote-typography_font-size_lg: 26px; 
    --blockquote-typography_font-size_xl: 26px;  

    --blockquote_small-typography_font-name: 'Barlow',sans-serif;
    --blockquote_small-typography_font-weight: 700;
    --blockquote_small-typography_font-style: italic;
    --blockquote_small-typography_font-line-height: 150%;
    --blockquote_small-typography_font-letter-spacing: -0.15px;
    --blockquote_small-typography_font-transform: None;

    --blockquote_small-typography_font-size: 20px; 
    --blockquote_small-typography_font-size_sm: 20px; 
    --blockquote_small-typography_font-size_md: 20px; 
    --blockquote_small-typography_font-size_lg: 22px; 
    --blockquote_small-typography_font-size_xl: 22px;  

    --blockquote_large-typography_font-name: 'Barlow',sans-serif;
    --blockquote_large-typography_font-weight: 700;
    --blockquote_large-typography_font-style: italic;
    --blockquote_large-typography_font-line-height: 150%;
    --blockquote_large-typography_font-letter-spacing: -0.15px;
    --blockquote_large-typography_font-transform: None;

    --blockquote_large-typography_font-size: 26px; 
    --blockquote_large-typography_font-size_sm: 26px; 
    --blockquote_large-typography_font-size_md: 26px; 
    --blockquote_large-typography_font-size_lg: 28px; 
    --blockquote_large-typography_font-size_xl: 28px;  

    --btn-typography_font-name: 'Barlow',sans-serif;
    --btn-typography_font-weight: 700;
    --btn-typography_font-style: normal;
    --btn-typography_font-line-height: 150%;
    --btn-typography_font-letter-spacing: -0.25px;
    --btn-typography_font-transform: None;

    --btn-typography_font-size: 18px; 
    --btn-typography_font-size_sm: 18px; 
    --btn-typography_font-size_md: 18px; 
    --btn-typography_font-size_lg: 18px; 
    --btn-typography_font-size_xl: 18px;  

    --btn_small-typography_font-name: 'Barlow',sans-serif;
    --btn_small-typography_font-weight: 700;
    --btn_small-typography_font-style: normal;
    --btn_small-typography_font-line-height: 150%;
    --btn_small-typography_font-letter-spacing: -0.25px;
    --btn_small-typography_font-transform: None;

    --btn_small-typography_font-size: 16px; 
    --btn_small-typography_font-size_sm: 16px; 
    --btn_small-typography_font-size_md: 16px; 
    --btn_small-typography_font-size_lg: 16px; 
    --btn_small-typography_font-size_xl: 16px;   

    --btn_large-typography_font-name: 'Barlow',sans-serif;
    --btn_large-typography_font-weight: 700;
    --btn_large-typography_font-style: normal;
    --btn_large-typography_font-line-height: 150%;
    --btn_large-typography_font-letter-spacing: -0.45px;
    --btn_large-typography_font-transform: None;

    --btn_large-typography_font-size: 22px; 
    --btn_large-typography_font-size_sm: 22px; 
    --btn_large-typography_font-size_md: 22px; 
    --btn_large-typography_font-size_lg: 22px; 
    --btn_large-typography_font-size_xl: 22px;  

    --main-navigation-typography_font-name: 'Barlow',sans-serif;
    --main-navigation-typography_font-weight: 600;
    --main-navigation-typography_font-style: normal;
    --main-navigation-typography_font-line-height: 150%;
    --main-navigation-typography_font-letter-spacing: -0.45px;
    --main-navigation-typography_font-transform: None;

    --main-navigation-typography_font-size: 18px; 
    --main-navigation-typography_font-size_sm: 18px; 
    --main-navigation-typography_font-size_md: 18px; 
    --main-navigation-typography_font-size_lg: 18px; 
    --main-navigation-typography_font-size_xl: 20px; 

    --main-navigation_dropdowns-typography_font-name: 'Barlow',sans-serif;
    --main-navigation_dropdowns-typography_font-weight: 600;
    --main-navigation_dropdowns-typography_font-style: normal;
    --main-navigation_dropdowns-typography_font-line-height: 150%;
    --main-navigation_dropdowns-typography_font-letter-spacing: -0.45px;
    --main-navigation_dropdowns-typography_font-transform: None;

    --main-navigation_dropdowns-typography_font-size: 18px; 
    --main-navigation_dropdowns-typography_font-size_sm: 18px; 
    --main-navigation_dropdowns-typography_font-size_md: 18px; 
    --main-navigation_dropdowns-typography_font-size_lg: 18px; 
    --main-navigation_dropdowns-typography_font-size_xl: 18px;  

    --secondary-navigation-typography_font-name: 'Barlow',sans-serif;
    --secondary-navigation-typography_font-weight: 400;
    --secondary-navigation-typography_font-style: normal;
    --secondary-navigation-typography_font-line-height: 150%;
    --secondary-navigation-typography_font-letter-spacing: -0.45px;
    --secondary-navigation-typography_font-transform: None;

    --secondary-navigation-typography_font-size: 16px; 
    --secondary-navigation-typography_font-size_sm: 16px; 
    --secondary-navigation-typography_font-size_md: 16px; 
    --secondary-navigation-typography_font-size_lg: 16px; 
    --secondary-navigation-typography_font-size_xl: 16px;  

    --sub-navigation-typography_font-name: 'Barlow',sans-serif;
    --sub-navigation-typography_font-weight: 400;
    --sub-navigation-typography_font-style: normal;
    --sub-navigation-typography_font-line-height: 150%;
    --sub-navigation-typography_font-letter-spacing: -0.45px;
    --sub-navigation-typography_font-transform: None;

    --sub-navigation-typography_font-size: 18px; 
    --sub-navigation-typography_font-size_sm: 18px; 
    --sub-navigation-typography_font-size_md: 18px; 
    --sub-navigation-typography_font-size_lg: 18px; 
    --sub-navigation-typography_font-size_xl: 18px;  

    --footer-navigation-typography_font-name: 'Barlow',sans-serif;
    --footer-navigation-typography_font-weight: 400;
    --footer-navigation-typography_font-style: normal;
    --footer-navigation-typography_font-line-height: 150%;
    --footer-navigation-typography_font-letter-spacing: -0.15px;
    --footer-navigation-typography_font-transform: None;

    --footer-navigation-typography_font-size: 13px; 
    --footer-navigation-typography_font-size_sm: 13px; 
    --footer-navigation-typography_font-size_md: 13px; 
    --footer-navigation-typography_font-size_lg: 13px; 
    --footer-navigation-typography_font-size_xl: 13px;  

    --breadcrumb-navigation-typography_font-name: 'Barlow',sans-serif;
    --breadcrumb-navigation-typography_font-weight: 600;
    --breadcrumb-navigation-typography_font-style: normal;
    --breadcrumb-navigation-typography_font-line-height: 150%;
    --breadcrumb-navigation-typography_font-letter-spacing: -0.15px;
    --breadcrumb-navigation-typography_font-transform: None;

    --breadcrumb-navigation-typography_font-size: 16px; 
    --breadcrumb-navigation-typography_font-size_sm: 16px; 
    --breadcrumb-navigation-typography_font-size_md: 16px; 
    --breadcrumb-navigation-typography_font-size_lg: 16px; 
    --breadcrumb-navigation-typography_font-size_xl: 16px;  

    --anchor-navigation-typography_font-name: 'Barlow',sans-serif;
    --anchor-navigation-typography_font-weight: 600;
    --anchor-navigation-typography_font-style: normal;
    --anchor-navigation-typography_font-line-height: 150%;
    --anchor-navigation-typography_font-letter-spacing: -0.45px;
    --anchor-navigation-typography_font-transform: None;

    --anchor-navigation-typography_font-size: 18px; 
    --anchor-navigation-typography_font-size_sm: 18px; 
    --anchor-navigation-typography_font-size_md: 18px; 
    --anchor-navigation-typography_font-size_lg: 18px; 
    --anchor-navigation-typography_font-size_xl: 18px;  

    --acc-tab-typography_font-name: 'Barlow',sans-serif;
    --acc-tab-typography_font-weight: 600;
    --acc-tab-typography_font-style: normal;
    --acc-tab-typography_font-line-height: 150%;
    --acc-tab-typography_font-letter-spacing: -0.45px;
    --acc-tab-typography_font-transform: None;

    --acc-tab-typography_font-size: 18px; 
    --acc-tab-typography_font-size_sm: 18px; 
    --acc-tab-typography_font-size_md: 18px; 
    --acc-tab-typography_font-size_lg: 18px; 
    --acc-tab-typography_font-size_xl: 18px;
    
    --logo-typography_font-name: 'Permanent Marker',handwriting;
    --logo-typography_font-weight: 400;
    --logo-typography_font-style: normal;
    --logo-typography_font-line-height: 140%;
    --logo-typography_font-letter-spacing: 0px;
    --logo-typography_font-transform: Uppercase;

    --logo-typography_font-size: 28px; 
    --logo-typography_font-size_sm: 30px; 
    --logo-typography_font-size_md: 30px; 
    --logo-typography_font-size_lg: 32px; 
    --logo-typography_font-size_xl: 32px; 

}


/*	
--------------------------------------------------
Additional Colors - Buttons
-------------------------------------------------- 
*/


/* Backgrounds */

/* Backgrounds Solid */

.c1-bg,
.item.item_overlay .inner .image.c1-bg::before,
.usn_cmp_banner .item.item_overlay.c1-bg .inner::before { 
    background: rgba(var(--c1-bg-color1), 1); 
}

/* Backgrounds Linear */

.c1-bg.c1-bg-linear,
.item.item_overlay .inner .image.c1-bg.c1-bg-linear::before,
.usn_cmp_banner .item.item_overlay.c1-bg.c1-bg-linear .inner::before { 
    background: linear-gradient(var(--c1-bg-angle), rgba(var(--c1-bg-color1), 1) 0%, rgba(var(--c1-bg-color2), 1) 100%); 
}

/* Backgrounds Radial */

.c1-bg.c1-bg-radial,
.item.item_overlay .inner .image.c1-bg.c1-bg-radial::before,
.usn_cmp_banner .item.item_overlay.c1-bg.c1-bg-radial .inner::before { 
    background: radial-gradient(farthest-side at var(--c1-bg-start-perc) var(--c1-bg-stop-perc), rgba(var(--c1-bg-color1), 1) 0%, rgba(var(--c1-bg-color2), 1) 100%); 
}


/* Headings */

.c1-bg h1:not(.heading), 
.c1-bg h2:not(.heading), 
.c1-bg h3:not(.heading), 
.c1-bg h4:not(.heading), 
.c1-bg h5:not(.heading), 
.c1-bg h6:not(.heading) { 
    color: rgba(var(--c1-heading), 1); 
}

.c1-heading, 
.c1-bg .heading { 
    color: rgba(var(--c1-heading), 1); 
}


/* Secondary Headings */

.c1-secondary-heading, 
.c1-bg .c1-secondary-heading { 
    color: rgba(var(--c1-secondary-heading), 1); 
}


/* Text */

.c1-bg, 
.c1-bg .c1-text, 
.c1-text { 
    color: rgba(var(--c1-text), 1); 
}


/* Borders */

.c1-borders { 
    border-color: rgba(var(--c1-borders), 1); 
}


/* Links */

.c1-link, 
.c1-link,
.c1-bg a:not(.btn),
.c1-text a:not(.btn),
.c1-bg .c1-text a:not(.btn) { 
    color: rgba(var(--c1-link), 1); 
}

.c1-link:hover, 
.c1-link:focus, 
.c1-link:active, 
.c1-bg a:not(.btn):hover, 
.c1-bg a:not(.btn):focus, 
.c1-bg a:not(.btn):active,
.c1-bg a:not(.btn):hover,
.c1-bg a:not(.btn):focus,
.c1-bg a:not(.btn):active,
.c1-text a:not(.btn):hover,
.c1-text a:not(.btn):focus,
.c1-text a:not(.btn):active,
.c1-bg .c1-text a:not(.btn):hover,
.c1-bg .c1-text a:not(.btn):focus,
.c1-bg .c1-text a:not(.btn):active { 
    color: rgba(var(--c1-link-hover), 1); 
}


/* Highlights */

.c1-highlight-bg { 
    background-color: rgba(var(--c1-highlight), 1); 
}

.c1-bg blockquote::before, 
.component .component.c1-bg div > blockquote::before { 
    color: rgba(var(--c1-highlight), 1); 
}

.c1-highlight-text { 
    color: rgba(var(--c1-highlight-text), 1); 
}


.c1-heading { 
    color: rgba(var(--c1-heading), 1)!important; 
}

.c1-secondary-heading { 
    color: rgba(var(--c1-secondary-heading), 1)!important; 
}


.c1-bg .heading { 
    color: rgba(var(--c1-heading), 1); 
}

.c1-bg .secondary-heading { 
    color: rgba(var(--c1-secondary-heading), 1); 
}

.c1-bg .quote, .c1-bg blockquote { 
    color: rgba(var(--c1-heading), 1); 
}

.c1-bg .quote::before, 
.c1-bg blockquote::before { 
    color: rgba(var(--c1-highlight), 1); 
}


/* Labels */
.c1-bg .label { background-color: rgba(var(--c1-highlight), 1); }

.c1-bg .label { color: rgba(var(--c1-highlight-text), 1); }


/* Tabs */

/* Basic Tabs */
.c1-bg .repeatable.tab-basic .tab .nav-link { color: rgba(var(--c1-link), 1); border-color: rgba(var(--c1-borders), 1); }

.c1-bg .repeatable.tabbed.tab-basic .tab .nav-link:not(.active) { background: rgba(var(--c1-borders), 0.15); }

.c1-bg .repeatable.tabbed.tab-basic .tab .nav-link:not(.active):hover { color: rgba(var(--c1-link-hover), 1); background: rgba(var(--c1-borders), 0.25); }

.c1-bg .repeatable.accordion.tab-basic .tab .nav-link.collapsed:hover { color: rgba(var(--c1-link-hover), 1); background: rgba(var(--c1-borders), 0.25); }

.c1-bg .repeatable.tabbed.tab-basic .tab .nav-link.active { color: rgba(var(--c1-heading), 1); background: transparent; }

.c1-bg .repeatable.accordion.tab-basic .tab .nav-link:not(.collapsed) { color: rgba(var(--c1-heading), 1); }

.c1-bg .repeatable.tab-basic .repeatable-content { border-color: rgba(var(--c1-borders), 1); }

.c1-bg .repeatable.tab-basic .tab .nav-link.active::after { background: rgba(var(--c1-highlight), 1); }

/* Button Tabs */
.c1-bg .repeatable.tab-buttons .tab .nav-link { color: rgba(var(--c1-heading), 1); border-color: rgba(var(--c1-borders), 0.25); }

.c1-bg .repeatable.tabbed.tab-buttons .tab .nav-link:not(.active):hover { color: rgba(var(--c1-link-hover), 1); border-color: rgba(var(--c1-borders), 1); }

.c1-bg .repeatable.accordion.tab-buttons .tab .nav-link.collapsed:hover { color: rgba(var(--c1-link-hover), 1); border-color: rgba(var(--c1-borders), 1); }

.c1-bg .repeatable.tabbed.tab-buttons .tab .nav-link.active { color: rgba(var(--c1-heading), 1); border-color: rgba(var(--c1-heading), 1); }

.c1-bg .repeatable.accordion.tab-buttons .tab .nav-link:not(.collapsed) { color: rgba(var(--c1-heading), 1); border-color: rgba(var(--c1-heading), 1); }

.c1-bg .repeatable.tab-buttons .tab .nav-link { box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--c1-borders), 0.25); }

.c1-bg .repeatable.tabbed.tab-buttons .tab .nav-link:not(.active):hover { box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--c1-borders), var(--btn-box-shadow_o)); } 

.c1-bg .repeatable.accordion.tab-buttons .tab .nav-link.collapsed:hover { box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--c1-borders), var(--btn-box-shadow_o)); }

.c1-bg .repeatable.tabbed.tab-buttons .tab .nav-link.active { box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--c1-borders), var(--btn-box-shadow_o)); }

.c1-bg .repeatable.accordion.tab-buttons .tab .nav-link:not(.collapsed) { box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--c1-borders), var(--btn-box-shadow_o)); }


/* Underline Tabs */
.c1-bg .repeatable.tab-underline .tab .nav-link { color: rgba(var(--c1-link), 1); } 

.c1-bg .repeatable.tabbed.tab-underline .tab .nav-link:not(.active):hover { color: rgba(var(--c1-link-hover), 1); } 

.c1-bg .repeatable.accordion.tab-underline .tab .nav-link.collapsed:hover { color: rgba(var(--c1-link-hover), 1); } 

.c1-bg .repeatable.tabbed.tab-underline .tab .nav-link:not(.active):hover::before { background: rgba(var(--c1-link-hover), 1); } 

.c1-bg .repeatable.accordion.tab-underline .tab .nav-link.collapsed:hover::before { background: rgba(var(--c1-link-hover), 1); } 

.c1-bg .repeatable.tabbed.tab-underline .tab .nav-link.active { color: rgba(var(--c1-heading), 1); } 

.c1-bg .repeatable.accordion.tab-underline .tab .nav-link:not(.collapsed) { color: rgba(var(--c1-heading), 1); } 

.c1-bg .repeatable.tabbed.tab-underline .tab .nav-link.active::before { background: rgba(var(--c1-heading), 1); }

.c1-bg .repeatable.accordion.tab-underline .tab .nav-link:not(.collapsed)::before { background: rgba(var(--c1-heading), 1); }


/* Linethrough Tabs */
.c1-bg .repeatable.tab-linethrough .tab .nav-link { color: rgba(var(--c1-link), 1); } 

.c1-bg .repeatable.tabbed.tab-linethrough .tab .nav-link:not(.active):hover { color: rgba(var(--c1-link-hover), 1); } 

.c1-bg .repeatable.accordion.tab-linethrough .tab .nav-link.collapsed:hover { color: rgba(var(--c1-link-hover), 1); } 

.c1-bg .repeatable.tabbed.tab-linethrough .tab .nav-link:not(.active):hover::before { background: rgba(var(--c1-link-hover), 1); } 

.c1-bg .repeatable.accordion.tab-linethrough .tab .nav-link.collapsed:hover::before { background: rgba(var(--c1-link-hover), 1); } 

.c1-bg .repeatable.tabbed.tab-linethrough .tab .nav-link.active { color: rgba(var(--c1-heading), 1); } 

.c1-bg .repeatable.accordion.tab-linethrough .tab .nav-link:not(.collapsed) { color: rgba(var(--c1-heading), 1); } 

.c1-bg .repeatable.tabbed.tab-linethrough .tab .nav-link.active::before { background: rgba(var(--c1-heading), 1); }

.c1-bg .repeatable.accordion.tab-linethrough .tab .nav-link:not(.collapsed)::before { background: rgba(var(--c1-heading), 1); }


/* Slider Navigation */
.c1-bg .slick-slider .slick-prev, .c1-bg .slick-slider .slick-next { color: rgba(var(--c1-link), 1); background-color: rgba(var(--c1-bg-color1), 1); }

html.no-touch .c1-bg .slick-slider .slick-prev:hover, html.no-touch .c1-bg .slick-slider .slick-next:hover { color: rgba(var(--c1-link-hover), 1); }

.c1-bg .slick-slider .slick-dots li > button { background-color: rgba(var(--c1-text), 1); }

html.no-touch .c1-bg .slick-slider .slick-dots li:not(.slick-active) > button:hover { background-color: rgba(var(--c1-link-hover), 1); }

.c1-bg .slick-slider .slick-dots li.slick-active > button { background-color: rgba(var(--c1-highlight), 1); }

/* Forms */
.form .c1-bg .form-control { border-color: rgba(var(--c1-borders), 1); }

.form .c1-bg .form-control:focus { border-color: rgba(var(--c1-highlight), 1); box-shadow: 0 0 5px var(--c1-highlight);}


/* Ajax Loading */
.c1-bg .ajax-wrap .ajax-loading { background: rgba(var(--c1-bg-color1), 1); }

.c1-bg.ajax-wrap .ajax-loading { background: rgba(var(--c1-bg-color1), 1); }

.ajax-wrap .c1-bg .ajax-loading { background: rgba(var(--c1-bg-color1), 1); }

.c1-bg .ajax-wrap .ajax-loading .loading span.message { border: 10px solid rgba(var(--c1-borders), 1); border-top: 10px solid rgba(var(--c1-highlight), 1); }

.c1-bg.ajax-wrap .ajax-loading .loading span.message { border: 10px solid rgba(var(--c1-borders), 1); border-top: 10px solid rgba(var(--c1-highlight), 1); }

.ajax-wrap .c1-bg .ajax-loading .loading span.message { border: 10px solid rgba(var(--c1-borders), 1); border-top: 10px solid rgba(var(--c1-highlight), 1); }

.c1-bg .item_form-single_field .ajax-wrap .ajax-loading .loading span.message { border: 5px solid rgba(var(--c1-borders), 1); border-top: 5px solid rgba(var(--c1-highlight), 1); }

.c1-bg.item_form-single_field .ajax-wrap .ajax-loading .loading span.message { border: 5px solid rgba(var(--c1-borders), 1); border-top: 5px solid rgba(var(--c1-highlight), 1); }

.item_form-single_field .c1-bg.ajax-wrap .ajax-loading .loading span.message { border: 5px solid rgba(var(--c1-borders), 1); border-top: 5px solid rgba(var(--c1-highlight), 1); }

.item_form-single_field .ajax-wrap .c1-bg .ajax-loading .loading span.message { border: 5px solid rgba(var(--c1-borders), 1); border-top: 5px solid rgba(var(--c1-highlight), 1); }


/* Links */
.c1-bg .listing.listing_links:not(.listing_links-mini), .c1-bg .listing.listing_links:not(.listing_links-mini) .item a { border-color: rgba(var(--c1-borders), 1); }

.c1-bg .listing.listing_links:not(.listing_links-mini) .item a:hover { background-color: rgba(var(--c1-borders), 0.1); }

.c1-bg .listing.listing_links.listing_links-mini .item a::after { background-color: rgba(var(--c1-link), 1); }

.c1-bg .listing.listing_links.listing_links-mini .item a:hover::after { background-color: rgba(var(--c1-link-hover), 1); }

 
/* Data List */                  
.c1-bg .listing.listing_data-list.data-list_boxed { border-color: rgba(var(--c1-borders), 1); }

.c1-bg .listing.listing_data-list .item.items-1:not(:last-child)::before { background-color: rgba(var(--c1-borders), 1); }


/* Sitemap */                
.c1-bg nav.sitemap ul li::before, .c1-bg nav.sitemap ul li::after { background-color: rgba(var(--c1-borders), 1); }

.c1-bg nav.sitemap ul li:hover::after { background-color: rgba(var(--c1-borders), 0.5); }


/* Tables */
.c1-bg thead { color: rgba(var(--c1-heading), 1); }

.c1-bg table, .c1-bg table th, .c1-bg table td { border-color: rgba(var(--c1-borders), 1); }


/* Anchor Navigtation */
.component.usn_cmp_anchornavigation.c1-bg .expand { color: rgba(var(--c1-heading), 1); }

.component.usn_cmp_anchornavigation.c1-bg .expand span:before { background: rgba(var(--c1-heading), 1); }

.component.usn_cmp_anchornavigation.c1-bg .expand span { background: rgba(var(--c1-heading), 1); }

.component.usn_cmp_anchornavigation.c1-bg .expand span:after { background: rgba(var(--c1-heading), 1); }


/* Basic */
.component.usn_cmp_anchornavigation.c1-bg nav.tab-basic ul.nav li.nav-item .nav-link { color: rgba(var(--c1-link), 1); border-color: rgba(var(--c1-borders), 1); }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-basic ul.nav li.nav-item .nav-link:not(.active) { background: rgba(var(--c1-borders), 0.15); }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-basic ul.nav li.nav-item .nav-link:not(.active):hover { color: rgba(var(--c1-link-hover), 1); background: rgba(var(--c1-borders), 0.25); }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-basic ul.nav li.nav-item .nav-link.active { color: rgba(var(--c1-heading), 1); background: transparent; }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-basic ul.nav li.nav-item a.nav-link.active::after { background: rgba(var(--c1-highlight), 1); }


/* Button */
.component.usn_cmp_anchornavigation.c1-bg nav.tab-buttons ul.nav li.nav-item .nav-link { color: rgba(var(--c1-heading), 1); border-color: rgba(var(--c1-borders), 0.25); }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-buttons ul.nav li.nav-item .nav-link:not(.active):hover { color: rgba(var(--c1-link-hover), 1); border-color: rgba(var(--c1-borders), 1); }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-buttons ul.nav li.nav-item .nav-link.active { color: rgba(var(--c1-heading), 1); border-color: rgba(var(--c1-heading), 1); }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-buttons ul.nav li.nav-item { box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--c1-borders), 0.25); }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-buttons ul.nav li.nav-item .nav-link:not(.active):hover { box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--c1-borders), var(--btn-box-shadow_o)); } 

.component.usn_cmp_anchornavigation.c1-bg nav.tab-buttons ul.nav li.nav-item .nav-link.active { box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--c1-borders), var(--btn-box-shadow_o)); }


/* Underline */
.component.usn_cmp_anchornavigation.c1-bg nav.tab-underline ul.nav li.nav-item a.nav-link:not(.active) { color: rgba(var(--c1-link), 1); } 

.component.usn_cmp_anchornavigation.c1-bg nav.tab-underline ul.nav li.nav-item a.nav-link:not(.active):hover { color: rgba(var(--c1-link-hover), 1); } 

.component.usn_cmp_anchornavigation.c1-bg nav.tab-underline ul.nav li.nav-item a.nav-link.active { color: rgba(var(--c1-heading), 1); } 

.component.usn_cmp_anchornavigation.c1-bg nav.tab-underline ul.nav li.nav-item a.nav-link:not(.active):hover::after { background: rgba(var(--c1-link-hover), 1); } 

.component.usn_cmp_anchornavigation.c1-bg nav.tab-underline ul.nav li.nav-item a.nav-link.active::after { background: rgba(var(--c1-heading), 1); }


/* Linethrough */
.component.usn_cmp_anchornavigation.c1-bg nav.tab-linethrough ul.nav li.nav-item a.nav-link:not(.active) { color: rgba(var(--c1-link), 1); } 

.component.usn_cmp_anchornavigation.c1-bg nav.tab-linethrough ul.nav li.nav-item a.nav-link:not(.active):hover { color: rgba(var(--c1-link-hover), 1); } 

.component.usn_cmp_anchornavigation.c1-bg nav.tab-linethrough ul.nav li.nav-item a.nav-link.active { color: rgba(var(--c1-heading), 1); } 

.component.usn_cmp_anchornavigation.c1-bg nav.tab-linethrough ul.nav li.nav-item a.nav-link:not(.active):hover::after { background: rgba(var(--c1-link-hover), 1); }

.component.usn_cmp_anchornavigation.c1-bg nav.tab-linethrough ul.nav li.nav-item a.nav-link.active::after { background: rgba(var(--c1-heading), 1); }


/* Scroll prompt */
.c1-bg .scroll-prompt a { color: rgba(var(--c1-heading), 1); }

.c1-bg .scroll-prompt a i { color: rgba(var(--c1-heading), 1); }

.c1-bg .scroll-prompt.scroll-prompt-wheel .mouse-scroll { border-color: rgba(var(--c1-heading), 1); }

.c1-bg .scroll-prompt .mouse-scroll::before { background-color: rgba(var(--c1-heading), 1); }


/* Shoppping Cart */
html#ecwid_html.usn body#ecwid_body .c1-bg .ec-size .ec-store h1 { color: rgba(var(--c1-heading), 1)!important; }

html#ecwid_html.usn body#ecwid_body .c1-bg .ec-size .ec-store .ec-header-h1 { color: rgba(var(--c1-heading), 1)!important; }

html#ecwid_html.usn body#ecwid_body .c1-bg .ec-size .ec-store .product-details__product-title { color: rgba(var(--c1-heading), 1)!important; }

html#ecwid_html.usn body#ecwid_body .c1-bg .ec-size .ec-store .grid-product__title-inner { color: rgba(var(--c1-heading), 1)!important; }


/* Heading separators - on page */
.c1-bg h1::before, .c1-bg h2::before, .c1-bg h3::before, .c1-bg h4::before, .c1-bg h5::before, .c1-bg h6::before { background: rgba(var(--c1-highlight), 1); }

.c1-bg h1::after, .c1-bg h2::after, .c1-bg h3::after, .c1-bg h4::after, .c1-bg h5::after, .c1-bg h6::after { background: rgba(var(--c1-highlight), 1); }


/* Heading separators - on components */
.c1-bg .heading::before, .c1-bg .secondary-heading::before { background: rgba(var(--c1-highlight), 1); }

.c1-bg .heading::after, .c1-bg .secondary-heading::after { background: rgba(var(--c1-highlight), 1); }


/* Heading separators - on specific items */
.item.c1-bg .heading::before, .item.c1-bg .secondary-heading::before { background: rgba(var(--c1-highlight), 1); }

.item.c1-bg .heading::after, .item.c1-bg .secondary-heading::after { background: rgba(var(--c1-highlight), 1); }

.inner.c1-bg .heading::before, .inner.c1-bg .secondary-heading::before { background: rgba(var(--c1-highlight), 1); }

.inner.c1-bg .heading::after, .inner.c1-bg .secondary-heading::after { background: rgba(var(--c1-highlight), 1); }

.c1-bg.has-box-shadows .form > .inner,
.c1-bg.has-box-shadows .listing.listing_no-spacing,
.c1-bg.has-box-shadows .listing:not(.listing_no-spacing) .image,
.listing .c1-bg.item.has-box-shadows .image,
.c1-bg.has-box-shadows .listing.listing_window-mosaic.basic-windows:not(.listing_no-spacing) .item {
    box-shadow: var(--base-box-shadow_h) var(--base-box-shadow_v) var(--base-box-shadow_b) rgba(var(--c1-borders), var(--base-box-shadow_o));
}
    




/* Custom Box Shadow Content */
.base-bg.has-box-shadows .form > .inner,
.base-bg.has-box-shadows .listing.listing_no-spacing,
.base-bg.has-box-shadows .listing:not(.listing_no-spacing) .image,
.listing .base-bg.item.has-box-shadows .image,
.base-bg.has-box-shadows .listing.listing_window-mosaic.basic-windows:not(.listing_no-spacing) .item {
    box-shadow: var(--base-box-shadow_h) var(--base-box-shadow_v) var(--base-box-shadow_b) rgba(var(--base-borders), var(--base-box-shadow_o));
}
/* Custom Box Shadow Buttons */
.btn, button.btn {
    border-radius: var(--btn-border-radius);
    border-width: var(--btn-border-width);
    border-style:solid;
    outline:none!important;
    box-shadow: var(--btn-box-shadow_h) var(--btn-box-shadow_v) var(--btn-box-shadow_b) rgba(var(--base-btn-borders), var(--btn-box-shadow_o));
}
    
