<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="89fe6e7c-93b2-41a2-b783-6ba25cbb85ed" Alias="USN Aria Expand Anchor" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expand anchor</Translation>
  </Translations>
</Dictionary>