<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="31f78e1b-094a-455b-9c09-3a557a850147" Alias="USN Aria Call to Actions" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Call to actions</Translation>
  </Translations>
</Dictionary>