<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2385397e-4573-4be1-b657-5902eb3345fa" Alias="USN Aria Shopping Cart" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Shopping cart</Translation>
  </Translations>
</Dictionary>