<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="220ef1a4-ceac-40c3-b548-66edeb7ffb45" Alias="USN Aria Current Page" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You are on page</Translation>
  </Translations>
</Dictionary>