<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c65e2a4f-0113-4d97-9f75-25d1cc994c3c" Alias="USN Aria Expand Header" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expand header</Translation>
  </Translations>
</Dictionary>