<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83201896-6cfe-4c71-8199-b61a7c060e65" Alias="USN Aria Expand Sub Pages" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expand sub pages</Translation>
  </Translations>
</Dictionary>