<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f74fdf4e-0256-40a1-84e7-6f8d12c59f35" Alias="USN Aria Expand Site Search" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expand site search</Translation>
  </Translations>
</Dictionary>