<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6ee3e434-81ab-45c5-8e6b-1b99cda21e29" Alias="USN Aria Scroll to Content" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Scroll to more content</Translation>
  </Translations>
</Dictionary>