<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4203f16f-7c81-4400-ae0a-bd15b09bca50" Alias="USN Aria Social Links" Level="1">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Social links</Translation>
  </Translations>
</Dictionary>